.nav__list {
  display: flex;
}

.nav__item {
  position: relative;
  &:hover {
    .nav__link {
      background-color: $blue;
    }
    > .subnav {
      display: block;
    }
  }
}

.nav__link {
  display: block;
  padding: 1.35rem;
  line-height: 1.2;

  text-transform: uppercase;
  font-size: 1.1rem;
  color: $white;
  text-decoration: none;
  transition: background-color 0.2s linear;

  &.has-subnav {
    position: relative;
    padding-right: 3.2rem;

    &:after {
      content: "";
      display: block;
      border-style: solid;
      border-width: 6px 5px 0 5px;
      border-color: $white transparent transparent transparent;
      position: absolute;
      top: 50%;
      right: 1.35rem;
      transform: translateY(-50%);
      margin-top: 2px;
    }
  }
}
