.post {
  box-shadow: 0 15px 25px rgba($black, 35%);
  padding: 2.5rem;
  background-color: $primary;
  margin-bottom: 3rem;
  border-radius: 5px;
  overflow: hidden;
}
.post__header {
  margin: 0 0 2.5rem;

  &--video {
    margin: -2.5rem -2.5rem 2.5rem;
  }
}

.post__content {
  margin-bottom: 2rem;
}

.post__title {
  font-size: 1.8rem;
  color: $white;
  font-weight: 500;
  margin-bottom: 1.5rem;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &--mb0 {
    margin-bottom: 0;
  }
}

.post__text {
  font-size: 1.4rem;
  color: #d2d2d2;

  p {
    margin-bottom: 1rem;
  }
}

.post__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post__data {
  display: flex;

  color: #828282;
  line-height: 1.2;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.post__data-item {
  &:not(:last-child):after {
    content: "";
    display: inline-block;

    width: 6px;
    height: 6px;
    margin: 0 1.5rem;
    position: relative;
    top: -2px;

    border-radius: 50%;
    background-color: #c4c4c4;
  }
}

.post__read {
  font-size: 1.4rem;
  color: #107eff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.post__preview {
  display: block;
  max-width: 100%;
  height: auto;
}

.post__actions {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  color: $white;
  font-size: 1.2rem;

  a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
    transition: opacity 0.2s linear;

    &:hover {
      text-decoration: underline;
      opacity: 1;
    }
  }
}

.post__actions-icon {
  margin-left: 0.4rem;
}
