@import "vars";
@import "vendor/reset";

html {
  font-size: 62.5%;
}

body {
  background-color: #181818;
  font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.4rem;
  color: $white;
  line-height: 1.5;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

a:active,
a:focus {
  outline: none;
}

@import "blocks/sidebar";
@import "blocks/main";
@import "blocks/header";
@import "blocks/conteiner";
@import "blocks/page";
@import "blocks/profile";
@import "blocks/social";
@import "blocks/btn";
@import "blocks/nav";
@import "blocks/search";
@import "blocks/subnav";
@import "blocks/stories";
@import "blocks/add-post";
@import "blocks/post";
@import "blocks/embed";
@import "blocks/pagination";
@import "blocks/related";






